App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Firebase / Google services
GoogleService-Info.plist

# Apple signing — never commit
*.p12
*.cer
*.mobileprovision
*.certSigningRequest

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
