@import "tailwindcss";

@theme {
  --color-amber-50:  #fffde5;
  --color-amber-100: #fffab8;
  --color-amber-200: #fff388;
  --color-amber-300: #ffe94f;
  --color-amber-400: #ffdc30;
  --color-amber-500: #ffd119;
  --color-amber-600: #d9af00;
  --color-amber-700: #a68700;
  --color-amber-800: #745e00;
  --color-amber-900: #423500;
  --color-amber-950: #251e00;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  body {
    @apply bg-slate-50 text-stone-900;
  }
  * {
    @apply box-border;
  }
}
